doctype html
html(lang="en")
	head
		title Nightwatch HTML Report - Default Theme
		script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		link(rel="stylesheet", href= assetPath('default.css'))
		script(type='text/javascript', src= assetPath('default.js'))
	body
		h1 Nightwatch Results
		#container
			if !hideSuccess
				a.toggleSuccess(href='#') Show/Hide Successes

			if testRun.errmessages.length > 0
				div.errmessages
					h2 Errors
						span.count= ' (' + testRun.errmessages.length + ')'
					ul.errors
						each msg in testRun.errmessages
							li= msg

			each suite in testRun.suites
				div(class= (suite.isFailure) ? 'suite error' : 'suite success')
					div.name= suite.name
					div.package= suite.package
					ul.testcases
						each testCase in suite.testcases
							li(class= (testCase.isFailure) ? 'testcase error' : 'testcase success')
								if testCase.isFailure
									div.name= testCase.name + " " + testCase.failureMessage
									each sshot in testCase.screenshots
										div.screenshot
											img(src= sshot)
								else
									div.name= testCase.name
